<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>405开门</title>
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,700">
  	<link rel="stylesheet" href="../static/css/style.min.css">
</head>
<body>
	<div id="wrapper" class="wrapper">
	  <header class="header htmleaf-header">
			<h1>405门锁控制 <span>一群Hape</span></h1>
			<!--div class="htmleaf-links">
				<a class="htmleaf-icon icon-htmleaf-home-outline" href="#" title="首页" target="_blank"><span> 首页</span></a>
				<a class="htmleaf-icon github" href="https://github.com/jokerwho/Pi-car" title="Github" target="_blank"><span> Github</span></a>
			</div-->
		</header>
	  <main>
	    <div class="container">
	      <section>
	        <center>
			<a href = "/open" ><img src = "open.png" height="50" width="100"></a>
			</center>
	      </section>
	    </div>
	  </main>
	</div><!-- /wrapper -->

	<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
	<nav id="mm-menu" class="mm-menu">
	  <div class="mm-menu__header">
	    <h2 class="mm-menu__title">智能远程中心</h2>
	  </div>
	  <ul class="mm-menu__items">
	    <li class="mm-menu__item">
	      <a class="mm-menu__link" href="#">
	        <span class="mm-menu__link-text"><i class="md md-home"></i> 首页</span>
	      </a>
	    </li>
		<!--li class="mm-menu__item">
	      <a class="mm-menu__link" href="/detect">
	        <span class="mm-menu__link-text"><i class="md md-whatshot"></i> 数据监测</span>
	      </a>
	    </li>
	    <!li class="mm-menu__item">
	      <a class="mm-menu__link" href="/camera">
	        <span class="mm-menu__link-text"><i class="md md-photo-camera"></i> 实时监控</span>
	      </a>
	    </li>
	    <li class="mm-menu__item">
	      <a class="mm-menu__link" href="/car">
	        <span class="mm-menu__link-text"><i class="md md-directions-car"></i> 小车控制</span>
	      </a>
	    </li>
	  </ul>
	</nav-->
	
	<script src="../static/js/production/materialMenu.min.js"></script>
	<script>
	  var menu = new Menu;
	</script>
</body>
</html>